<!DOCTYPE html>
<html ng-app="widgetApp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>Flaskular</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
  <ng-view></ng-view>
  <!-- SCRIPTS -->
  <!--<script src="/static/js/angular.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/angular-route.js"></script>
</body>
</html>